extends ./layout

block content
  h2#title Thank you for creating a poll! Your details are below.

  p#url
    | Poll url to share:
    a(href="/poll/" + "#{poll.pollUrl}") /poll/#{poll.pollUrl}
  p#url
    | Admin url:
    a(href="/admin/" + "#{poll.adminUrl}") /admin/#{poll.adminUrl}
  br
  .results
    h2 Current Results
    h4= 'Poll Topic: ' + poll.question
    h4= 'Poll is public: ' + poll.publicView
    .close-poll
      h4= 'Poll is: ' + poll.status
      h4= 'Time until poll closes: ' + (poll.setTimeout/60/1000) + ' minutes'
      button(id="close", value= poll.adminUrl).
        Close Poll Now
    .admin-tally
      ul
        each tally, vote in poll.votes
          li(data-key=vote)= vote + '  || '
            span.tally= tally
